In [2]:
import pandas as pd

In [6]:
# load json
jsondf = pd.read_json('data_samples/recipe.json')
display(jsondf[:2])

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...

In [9]:
# load as series or frame
dftype = pd.read_json('data_samples/recipe.json', typ='series')
display(dftype[:2])
dftype = pd.read_json('data_samples/recipe.json', typ='frame')
display(dftype[:2])

0    {'id': 10259, 'cuisine': 'greek', 'ingredients...
1    {'id': 25693, 'cuisine': 'southern_us', 'ingre...
dtype: object

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...

In [11]:
# specify dtype
ddf = pd.read_json('data_samples/recipe.json', dtype='bool')
display(ddf[:2])
ddf = pd.read_json('data_samples/recipe.json', dtype='dict')
display(ddf[:2])

     id  cuisine  ingredients
0  True     True         True
1  True     True         True

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...

In [ ]:
dfd = pd.read_json('data_samples/sample_json.json')
display(dfd[:2].info())

# parsing dates, convert
dfd = pd.read_json('data_samples/sample_json.json', convert_dates=['signup_date'])
display(dfd[:2].info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           2 non-null      int64
 1   name         2 non-null      object
 2   email        2 non-null      object
 3   age          2 non-null      int64
 4   city         2 non-null      object
 5   signup_date  2 non-null      object
dtypes: int64(2), object(4)
memory usage: 228.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           2 non-null      int64
 1   name         2 non-null      object
 2   email        2 non-null      object
 3   age          2 non-null      int64
 4   city         2 non-null      object
 5   signup_date  2 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 228.0+ bytes

None

In [24]:
# parsing dates, more info retrieval 
display(dfd['signup_date'][:2])
display(dfd['signup_date'].dt.year[:2])
display(dfd['signup_date'].dt.month[:2])
display(dfd['signup_date'].dt.day[:2])

0   2023-07-25
1   2021-04-06
Name: signup_date, dtype: datetime64[ns]

0    2023
1    2021
Name: signup_date, dtype: int32

0    7
1    4
Name: signup_date, dtype: int32

0    25
1     6
Name: signup_date, dtype: int32