In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('postgresql+psycopg2://postgres:password@localhost:5432/college')
df = pd.read_sql('select * from student', engine)
display(df[:2])

,first_name,last_name,id,email
0,Ali ...,Khan ...,1,None
1,Sara ...,Ahmed ...,2,None

In [ ]:
mytabel = pd.read_sql_table('student', 'postgresql+psycopg2://postgres:password@localhost:5432/college')
display(mytabel[:2])

,first_name,last_name,id,email
0,Ali ...,Khan ...,1,None
1,Sara ...,Ahmed ...,2,None